.app__card{
    width: 17em;
    height: 23em;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 20px;
}

.app__card h3{
    font-size: 40px;
    line-height: 41px;
    font-family: var(--font-spe);
    font-weight: 700;
    color:  black;
}

.app__card button{
    width: 80%;
    height: 10%;
    background: black;
    color: white;
    border-radius: 50px;
    border: none;
    font-family: var(--font-mono);
    font-size: 13px;
    font-weight: 400;
}

.app__card img{
    width: 95%;
    height: 95%;
    border: 3px solid black;
}

.ce{
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width:697px) {
    .app__card{
        width: 15em;
        word-wrap: break-word;
    }
}

@media screen and (max-width:639px) {
    .app__card{
        width: 17em;
    }
}

@media screen and (max-width:328px){
    .app__card{
        width: 75%;
        word-wrap: break-word;
    }
    .app__card button{
        width: 95%;
    }
}